	<h1>Esta es la pagina de perfil de <%= @user.name %></h1>
		<%if user_signed_in? %>
	<h1>
		<%= current_user.name %> is logged in 
		<%= link_to 'logout', destroy_user_session_path, method: 'DELETE' %>
	</h1>
		<% else %>
	<h2>
		Nobody logged in
	</h2>
		<% end %>
<ul>
	<%	@user.comics.each do |comic| %>
	<li>
		<%= comic.title %> (<%= comic.publisher %>)
	</li>
<%end%>


</ul>